<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="favicon.ico"/>
	<title>Cadastrar um novo Funcionário </title>
	<link rel="stylesheet" type="text/css"
		href="../resources/css/bootstrap.min.css">
</head>

<body>

<a href="/funcionarios/index.html">Voltar</a>


<div id="app">
	
	<h4>Cadastro de funcionário</h4>
		
	<p>Implementar o cadastro de funcionários</p>	
</div>

<form id="cadastro" class="grupo">
	<div class="campo">
		<label for="nome"><strong>Nome</strong></label>
	    <input type="text" name="nome" id="nome" required/>
	</div>
	</br>

	<div class="campo">
		<label for="setor"><strong>Setor</strong></label>
	    <!-- <input type="Setor" name="nome" id="setor: {'id':()}" required/> -->
	    <select v-model="setor">
	    	<option v-for="setor in listaSetor" :value="setor">{{setor.nome}}</option>
	    </select>
	</div>
	</br>
	
	<div class="campo">
		<label for="salario"><strong>Salário</strong></label>
		<input type="Double" id="salario" required/>
	</div>
	</br>
	
	<div class="campo">
		<label for="email"><strong>Email</strong></label>
		<input type="String" id="email" required/>
	</div>
	</br>
		    
	<div class="campo">
		<label for="idade"><strong>Idade</strong></label>
		<input type="Integerd" id="idade" required/>
	</div>
	</br>

    <button class="botao" type="submit" onsubmit="save">Enviar</button>
</form>	

	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/axios.min.map"></script>
	<script src="../resources/js/bootstrap-vue.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/bootstrap.min.js.map"></script>
	<script src="../resources/js/cadastro-de-funcionario.js"></script> 
</body>
</html>